<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Open Edit</display-name>
	
	<!-- When using resin add this
	<cache-mapping url-pattern='*.gif'  expires='1h'/>
  	<cache-mapping url-pattern='*.jpg'       expires='1h'/>
	-->

	<filter>
		<filter-name>OEFilter</filter-name>
		<filter-class>com.openedit.servlet.OpenEditFilter</filter-class>
	</filter>
		
	<filter-mapping>
		<filter-name>OEFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
		
	<filter-mapping>
		<filter-name>OEFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>

	
	<filter-mapping>
		<filter-name>OEFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>OEFilter</filter-name>
		<url-pattern>*.chart</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>OEFilter</filter-name>
		<url-pattern>*.svg</url-pattern>
	</filter-mapping>
<!--
	<filter-mapping>
		<filter-name>OEFilter</filter-name>
		<url-pattern>*.pdf</url-pattern>
	</filter-mapping>
	-->
	<filter-mapping>
		<filter-name>OEFilter</filter-name>
		<url-pattern>*.src</url-pattern>
	</filter-mapping>
	
		
</web-app>
